<div class="container">
  <mat-card>
    <mat-card-title>Восстановление доступа</mat-card-title>
    <mat-card-content>
      <div class="registration-container">
        <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()" class="auth-form">
          <mat-form-field>
            <mat-label>Имя пользователя</mat-label>
            <input matInput type="text" formControlName="username">
            <mat-error *ngIf="resetPassForm.get('username')?.invalid && (resetPassForm.get('username')?.dirty || resetPassForm.get('username')?.touched)">
              Имя пользователя <strong>обязательно</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Пароль</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error *ngIf="resetPassForm.get('password')?.invalid && (resetPassForm.get('password')?.dirty || resetPassForm.get('password')?.touched)">
              Пароль <strong>обязателен</strong>
            </mat-error>
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit" [disabled]="resetPassForm.invalid">Обновить пароль</button>
        </form>

        <div class="links">
          <a routerLink="/auth">Авторизация?</a>
          <span class="separator"></span>
          <a routerLink="/auth/register">Регистрация</a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
