<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-icon *ngIf="data.type === NotificationTypes.success" fontIcon="check_circle_outline" class="icon-display success"></mat-icon>
      <mat-icon *ngIf="data.type === NotificationTypes.error" fontIcon="error_outline" class="icon-display error"></mat-icon>
      <mat-icon *ngIf="data.type === NotificationTypes.warning" fontIcon="warning" class="icon-display warning"></mat-icon>
      <mat-icon *ngIf="data.type === NotificationTypes.info" fontIcon="feedback" class="icon-display info"></mat-icon>
    </mat-card-title-group>
    <button mat-icon-button aria-label="close dialog" mat-dialog-close class="close-btn">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <p class="text">
      {{ data.text }}
    </p>
  </mat-card-content>

</mat-card>

